<div class="row">
    <div class="col-lg-4 fillable">
        <a href="http://www.cashoncryptos.com"><span class="link_fill"> </span></a>
        <img src="/images/profit_from_bitcoin.png" />
    </div>
    <div class="col-lg-4 fillable">
        <a href="http://www.seedco.in"><span class="link_fill"> </span></a>
        <img src="http://www.seedco.in/home/sites/default/files/seedcoin_400.png" />
    </div>
    <div class="col-lg-4 fillable">
        <a href="http://www.davidsilvasmith.com"><span class="link_fill"> </span></a>
        <h2>David Silva Smith</h2>
    </div>
</div>

<div class="row" style="margin:1em;">
    <div class="col-lg-4">
        <a href="http://collegecrypto.org/"><span class="link_fill"> </span></a>
        <img src="/images/CryptoCollegeNetwork.png" />
    </div>
    <div class="col-lg-4 fillable">
        <a href="mailto:dave@davidsilvasmith.com?subject=Sponsor+so+whats+bitcoin+for+3+months" target="_blank"><span class="link_fill"> </span></a>
        <img src="/images/sponsor.png" />
    </div>
    <div class="col-lg-4 fillable">
        <a href="mailto:dave@davidsilvasmith.com?subject=Sponsor+so+whats+bitcoin+for+3+months"><span class="link_fill"> </span></a>
    </div>
</div>