---
navigation:
 - text: What is Bitcoin?
   url: /
 - text: Businesses
   url: /for-businesses/
 - text: Developers
   url: /for-developers/
 - text: Individuals
   url: /for-individuals/
 - text: About
   url: /About/
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explaining bitcoin in plain English. What bitcoin is, how they can benefit, how they can buy bitcoins, and how they can use bitcoins.">
    <meta name="author" content="David Silva Smith">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <link rel="image_src" href="/images/img_src.png" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:image" content="{{site.url}}/images/img_src.png" />
    <meta property="og:description" content="Helping everyone learn what bitcoin is and how it can benefit them, how they can buy bitcoins and how they can use bitcoins." />
    <title>{{ page.title }}</title>
    <link href="/css/sowhatsbitcoin.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="navbar navbar-inverse navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="visible-xs" href="/"><img src="/images/branding.png" ></a>
                </div>
                <div class="navbar-collapse collapse">
                    
                    <ul id="navList" class="nav nav-justified" >
                        <li ><a class="hidden-xs" href="/"><img src="/images/branding.png" ></a></li>
                        {% assign url = page.url|remove:'index.html' %}
                        
                        {% for link in page.navigation %}
                        {% assign urlSize = link.url|size %}

                        <li {% if url contains link.url and urlSize > 2 %}class="active"{% endif %} {% if url == '/' and url == link.url %}class="active"{% endif %}>
                            <a href="{{link.url}}" title="{{link.text}}">{{link.text}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                    {% if page.url contains '/for-individuals/' %}
                    {% capture submenu %}{% include for-individuals-menu.md%}{% endcapture %}
                    <div class="navbar-collapse collapse">
                    <ul id="navList" class="nav navbar-nav">
                        {{ submenu | markdownify }}
                    </ul>
                </div>
                    {% endif %}
            </div>
        </div>
        {{ content }}

        <hr />
        <div style="text-align:center">
            Like? Spread the word! Help through <a href="http://twitter.com/home?status=I+understand+%23bitcoin%21+Thanks+%40sowhatsbitcoin!"><i class="fa fa-twitter"></i> Twitter</a>, <a href="http://www.facebook.com/sharer.php?u=http://www.sowhatsbitcoin.com"><i class="fa fa-facebook-square"></i> Facebook</a>, or <a href="https://blockchain.info/address/1GYcJRmyntZhsUJK3KurNSuev5aX4a3DSx"><i class="fa fa-qrcode"></i> donating</a> bitcoin. 
        </div>

        <hr />
        <div>
            <h3 style="text-align:center">This site made possible through: </h3>
           {% include sponsors.html%}
       </div>
        <span>© {{ site.time | date: "%Y" }} Cash on Cryptos LLC</span>
    </div>
    <script src="/scripts/jquery-1.8.2.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/custom.js"></script>
</body>
</html>

